.app-container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.content-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.content-area {
			overflow: scroll;
			height: 80vh;
		}
	}
}

@import "./app-container/header";
@import "./app-container/modal";
@import "./app-container/character-card";
@import "./app-container/footer";
