$font-family: "Poppins", sans-serif;
$primary: #fa7009;
$secondary: #00af9e;
$white-color: #ffffff;
$black-color: #9e4603;
$navlink-color: #4a6f8a;
$paragraph-color: #6084a4;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$gradient-color: linear-gradient(135deg, #3c3e44 0%, #3c3e44 100%);
$gradient-color2: linear-gradient(
	to right bottom,
	#1fa2ff,
	#00c0ff,
	#00d9f2,
	#53eedd,
	#a6ffcb
);
$transition: 0.5s;
$font-size: 14px;
