@import "~bootstrap/scss/bootstrap.scss";
@import "react-super-responsive-table/dist/SuperResponsiveTableStyle.css";

$font-family: "Poppins", sans-serif;
$primary: #fa7009;
$secondary: #00af9e;
$white-color: #ffffff;
$black-color: #9e4603;
$navlink-color: #4a6f8a;
$paragraph-color: #6084a4;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$gradient-color: linear-gradient(135deg, #3c3e44 0%, #3c3e44 100%);
$gradient-color2: linear-gradient(
	to right bottom,
	#1fa2ff,
	#00c0ff,
	#00d9f2,
	#53eedd,
	#a6ffcb
);
$transition: 0.5s;
$font-size: 14px;

.masthead {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	a {
		color: $primary;
		&:hover,
		:focus {
			text-decoration: underline;
		}
	}
}
.modal-header {
	.close ::before {
		content: "X";
		visibility: visible;
		color: black;
		font-weight: bold;
	}

	.sr-only::before {
		visibility: hidden;
	}

	.close {
		visibility: hidden;
		position: absolute;
		right: 32px;
		top: 10px;
		width: 20px;
		height: 20px;
		background-color: rgba(247, 12, 12, 0.5);
	}
}
.modal-content {
	.status {
		height: 1.5rem;
		width: 1.5rem;
		margin-right: 0.375rem;
		border-radius: 50%;
		&.status-alive {
			background: rgb(85, 204, 68);
		}
		&.status-dead {
			background: rgb(214, 61, 46);
		}
		&.status-unknown {
			background: rgb(158, 158, 158);
		}
	}
	.episode-list {
		max-height: 10vh;
		overflow: scroll;
	}
}
.content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.content-area {
		overflow: scroll;
		height: 80vh;
		.character-card {
			cursor: pointer;
			margin: 13px;
			position: relative;
			z-index: 1;
			padding: 30px;
			text-align: center;
			border-radius: 15px;
			&::before {
				position: absolute;
				transition: $transition;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: $white-color;
				z-index: -1;
				border: 1px solid $black-color;
				border-radius: 15px;
			}
			&::after {
				position: absolute;
				transition: $transition;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				border: 1px solid $black-color;
				border-radius: 15px;
			}
			span {
				&.status {
					height: 0.5rem;
					width: 0.5rem;
					margin-right: 0.375rem;
					border-radius: 50%;
					&.status-alive {
						background: rgb(85, 204, 68);
					}
					&.status-dead {
						background: rgb(214, 61, 46);
					}
					&.status-unknown {
						background: rgb(158, 158, 158);
					}
				}
			}

			h3 {
				font-size: 19px;
				transition: $transition;
				line-height: 1.4;
				margin: {
					top: 22px;
					bottom: 12px;
				}
			}
			.icon {
				display: inline-block;
				color: $primary;
				width: 85px;
				height: 85px;
				line-height: 85px;
				border: 1px solid #e3f7e9;
				border-radius: 50%;
				transition: $transition;

				i {
					&::before {
						font-size: 35px;
					}
				}
			}
			p {
				margin-bottom: 25px;
				transition: $transition;
			}
			a {
				width: 35px;
				height: 35px;
				line-height: 35px;
				color: $black-color;
				border-radius: 50%;

				svg {
					width: 15px;
				}
			}
			&:hover,
			&:focus {
				box-shadow: -11px 20px 17px #bebebe, 20px -11px 17px #ffffff;

				-webkit-transform: rotateZ(-1deg);
				-moz-transform: rotateZ(-1deg);
				transform: skew(2deg, 2deg);

				&::before {
					opacity: 0;
					visibility: hidden;
				}
				&::after {
					opacity: 0.85;
					visibility: visible;
				}
				.more {
					color: "#0070f3";
					translate: translateX(11px);
				}
			}
		}
	}
}
.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
}
